body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url("../images/pattern.jpeg");
}

header h1 {
    color: khaki;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.green {
    background-color: mediumspringgreen;
}

.coral {
    background-color: lightcoral;
}

.blue {
    background-color: skyblue;
}

.pricing {
    color: blue;
    font-family: Helvetica;
    font-weight: bold;
}