/*Assignment: Use your knowledge of CSS visual rules to create rule sets and
improve the appearance of a photography portfolio site*/

/*Select the header class and make its background color 'CornflowerBlue';
Align the header class text in the center*/

.header {
    /*background-color: cornflowerblue;*/
    /*background-color updated to rgba as part of extra credit */
    background-color: rgba(100, 149, 237, 0.5);
    text-align: center;
}

/*Select the .about-me element and change the font size to 20px;
Make the text of the .about-me element 50% transparent*/

.about-me {
    font-size: 20px;
    opacity: 0.5;
}

/*In the Projects section, make the section titles bold*/

.title {
    font-weight: bold;
}

/*Change the main title (h1) color to 'Azure'*/

h1 {
    color: azure;
}

/*Use the body element to change the font of the entire page to 'Georgia'*/
/*Add an image to the background of the page*/

body {
    background-image: url("https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
    font-family: 'Georgia';
}

/*Extra credit: Keep coding and edit the visual rules
to personalize the site's appearance*/

.header img {
    margin-top: 30px;
}

.header p {
    padding: 0px 25px 25px;
}

main {
    margin-left: 25px;
}

.contact a {
    color: cornflowerblue;
}

.contact a:hover {
    color: yellowgreen;
}